@media only screen and (max-width: 900px) {
    .kailash{
        display:block;
    };
   
   

    .footerrow {
        display: flex;  /* Ensure flexbox is enabled */
        flex-wrap: wrap;
        justify-content: flex-start; /* Changed to flex-start for better alignment */
        height: auto;
    };
    .down-footer {
        display: flex;  /* Ensure flexbox is enabled */
        flex-wrap: wrap;
    };
    
  
}