*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
   
}



/* section banner */

.bg-banner{
    width: 100%;
    height: 100vh;
    background-image: url('assests/banner-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.inner-bg-banner{
    /* border: 1px solid red; */
    width: 50%;
    height:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.bg-banner-content{
    margin-top: 30px;
    /* border: 1px solid black; */
    margin: 10px 10px;
    padding: 10px;
    width: 50%;
}
.bg-banner-content p{
    font-size: 10px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-banner-content h1{
    text-transform: capitalize;
    color: white;
    font-size: 40px;
    font-weight:700;
}
.bg-banner-content span{
    color: rgb(45, 221, 45);
}

.banner-btn{
    width:50%;
    /* border: 1px solid black; */
    padding: 10px 10px;
}

.banner-btn button{
    background-color: rgb(45, 221, 45);
    border: 1px solid  rgb(45, 221, 45);
    color: white;
    border-radius: 3px;
    padding: 10px;

    

}
.banner-btn button:hover{
    background-color: rgb(8, 19, 83);
    color:rgb(45, 221, 45);
    transition-duration: 1s;
    

}
/*section container */
.container{
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;


}
.inner-cont{
 width: 80%;
 /* border: 1px solid red; */
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 15px;


}
.cont-card{
 width: 200px;
 height: 30vh;
 border: 1px solid rgb(225, 223, 223);
 background-color: white;
 margin: 10px 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.money-bill-icon{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.money-back{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shall-open{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shall-open p{
    font-size: 12px;
    color: gray;
    text-transform: capitalize;
}

/* featured product */
.container-featuredproduct{
    display: flex;
    width:100%;
    /* border: 1px solid rgb(89, 0, 255); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-productrow{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.featured-col{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
}
.featured-title{
    text-align: center;
    /* border:1px solid green; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    h2{
        color: black;
        text-transform: uppercase;
        font-size: 18px;
        padding: 5px;
    }
    span{
        border-top: 1px solid rgb(230, 230, 230);
        width: 199px;
        /* color: black; */
        padding: 3px;
    }
    p{
        font-size: 12px;
        color: gray;
        padding: 5px;
    }
    
}

.feature-product-card{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-card-col{
    /* border: 1px solid red; */
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.single-product{
    /* border: 1px solid rgb(196, 195, 195); */
    box-shadow: 0px 0px 1px 1px  rgb(239, 235, 235) ;
    width:325px;
    margin: 10px 10px;
    

}
 
.product-img{
    /* border: 1px solid rgb(232, 9, 9); */
    width: 100%;
    height: 350px;
    position: relative;
}
.img-fluid {
    width: 100%;
    height: 100%;
}

.p_icon{
    /* border: 1px solid red; */
    margin: 10px;
    animation: mymove 2s;
    position: relative;
    bottom: 70px;
    display: none;
    justify-content:center;
    align-items: center;
    background-color: rgba(113, 205, 20, 0.4);
   
    
} 
.single-product:hover .p_icon{
    display: flex;
}


.p_icon a{
    background-color: white;
    /* border: 1px solid white; */
    width: 30px;
    height:30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    text-decoration: none;
  
}
.p_icon i{
    color: black;
}
.product-btm{
    /* border: 1px solid green; */
    padding: 10px;
}
.product-btm a{
    text-decoration: none;
}
 
.product-btm   h4{
    text-transform: uppercase;
    color: rgb(65, 64, 64);
    font-weight: 200;
    text-decoration: none;
    font-size: 12px;
    margin-left: 10px;
 
}
.mt-3{
    /* border: 1px solid blue; */
    padding: 10px;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
}
.mr-4{
    color: black;
    font-size: 16px;
}
del{
    color: gray;
    font-size: 10px;
    margin-left: 10px;
}
/* ended featured product */


/* offer area */
.offer-area{
    /* border: 1px solid black; */
    background-image: url('https://themewagon.github.io/eiser/img/offer-bg.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 60px;
}
.offer-container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-row{
    /* border: 1px solid black; */
    width: 50%;
    display:flex;
    justify-content: end;

}
.offer_content{
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.offer_content h3{
    color: rgb(90, 88, 88);
    font-size: 18px;
    padding: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}
.offer_content h2{
    text-align: center;
    color:black;
    font-size: 66px;
    padding: 15px;
    font-weight: bolder;
    text-transform: uppercase;

}
.main_btn{
    background-color: #71cd14;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 32px;
    text-align: center;
    border: 1px solid #71cd14;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    border-radius: 5px;
    line-height: 40px;
    width: 180px;
}
.main_btn:hover{
    background-color: white;
    color: #71cd14;
}
.offer_content a{
    text-decoration:none;
}
.offer_content p{
    padding: 15px 10px;
    color: rgb(100, 98, 98);
    font-size: 12px;
    text-align: center;
}

    

/* ended */





/* new product area */
.new-product-box{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-product-container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newproduct-row{
    /* border: 1px solid rgb(247, 8, 215); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.newproduct-heading{
    padding: 10px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.newproduct-title{
    /* border: 1px solid purple; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.newproduct-title h2{
   font-size: 18px;
   color: rgb(44, 43, 43);
   text-transform: uppercase;
}
.newproduct-title p{
    font-size: 14px ;
    color: rgb(81, 80, 80);
}
.collection-cont{
    border: 1px solid red;
    width: 80%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.collectionrow{
    /* border: 1px solid rgb(236, 11, 11); */
    width: 50%;
    margin: 10px 10px;
   
    display: flex;
    
}
.new_product{
    width: 100%;
    border: 1px solid black; 
    background-color: rgb(249, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.new_product h5{
    font-size: 18px ;
    font-weight: 200;
    color: rgb(54, 53, 53);
    text-transform: uppercase;
    padding: 10px;
}
.new_product h3{
    padding: 10px;
    font-size: 22px ;
    font-weight: 600;
    color: rgb(54, 53, 53);
    text-transform: uppercase;
}
.product-img{
    /* border: 1px solid red; */
    width: 100%;
    height: 60%;

}
.product-img img{
    width: 100%;
    height: 100%;
}
.rate{
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: 200;
}
.add-btn{
    width: 20%;
    background-color: #71cd14;
    border: 1px solid #71cd14;
    color: white;
    text-decoration:none;
    font-size: 12px;
    padding: 10px;
    margin-top:10px ;
    border-radius: 8px;

}
.add-btn:hover{
    color:#71cd14;
    background-color: white;


}




.newproduct-col{
    /* border: 1px solid black; */
    width: 50%;

}
.new-product{
    /* border: 1px solid blue; */
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.newproduct-siderow{
    border: 1px solid black;
    width: 200px;
    margin: 10px 10px;
}

/* ended new product area */


/* inspired product area */


.inspired-inner-cont{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.inspired-col{
    padding: 20px;
    width: 80%;
     /* border:1px solid blue; */
     display: flex;
     justify-content: center;
     align-items: center;
}
.inspired-heading{
    /* border: 1px solid blue; */
    padding: 10px;
    
}
.inspried-title{
    /* border: 1px solid red; */
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.hr{
    border: 1px solid rgb(187, 187, 187);
    /* height: 10px; */
    width: 60%;
}
.inspried-title h2{
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
}
.inspried-title p{
    font-size: 14px;
    padding: 5px;
    color: rgb(101, 99, 99);
}




.inspired-row{
    padding: 5px;
    /* border: 1px solid green; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inspired-card{
    border: 1px solid black;
    width: 190px;
    width: fit-content;
    margin: 10px 10px;
}



.inspried-product{
    /* border: 1px solid rgb(196, 195, 195); */
    box-shadow: 0px 0px 1px 1px  rgb(239, 235, 235) ;
    width:100%;
    /* margin: 10px 10px; */
    

}
 
.inspried-img{
    /* border: 1px solid rgb(232, 9, 9); */
    width: 100%;
    height: 180px;
    position: relative;
}
.img-fluid {
    width: 100%;
    height: 100%;
}
/*  */
.inspried-img:hover .p_icon{
    display: flex;


}
/*  */

.p_icon{
    /* border: 1px solid red; */
    margin: 10px;
    animation: mymove 2s infinite;
    position: relative;
    bottom: 70px;
    display: none;
    justify-content:center;
    align-items: center;
    background-color: rgba(113, 205, 20, 0.4);
   
    
} 

.p_icon a{
    background-color: white;
    /* border: 1px solid white; */
    width: 30px;
    height:30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    text-decoration: none;
  
}
.p_icon i{
    color: black;
}
.product-btm{
    /* border: 1px solid green; */
    padding: 10px;
}
.product-btm a{
    text-decoration: none;
}
 
.product-btm   h4{
    text-transform: uppercase;
    color: rgb(65, 64, 64);
    font-weight: 200;
    text-decoration: none;
    font-size: 12px;
    margin-left: 10px;
 
}
.mt-3{
    /* border: 1px solid blue; */
    padding: 10px;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
}
.mr-4{
    color: black;
    font-size: 16px;
}
del{
    color: gray;
    font-size: 10px;
    margin-left: 10px;
}


/* ended inspried product */


/* start blog area */

.blog-container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.blog-row{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.blog-col{
    padding: 10px;
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.blog-title{
    /* border: 1px solid green; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h2{
        font-size: 20px;
        text-transform: uppercase;
        padding: 5px;


    }
    hr{
    border: 1px solid rgb(201, 200, 200);
    width: 50%;
    text-align: center;
    

    }
    p{
        padding: 5px;
        font-size: 14px;
        text-transform: capitalize;
        color: rgb(82, 80, 80);

    }
}

.blog-card{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.man-blog{
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
   

}
.single-blog{
    width: 300px;
    /* border: 1px solid rgb(14, 251, 65); */
    margin: 10px 10px;
}
.thumb{
    width: 100%;
    overflow: hidden;
   
}
.thumb img {
    width: 100%;
    transition: transform 0.3s ease;
}

.thumb:hover img   {
    transform: scale(1.2);
}
.short_details{
    /* border: 1px solid red; */

}
.meta-top{
    /* border: 1px solid red; */
    padding: 10px 10px;
    
}
.meta-top a{
    text-decoration: none;
    color: rgb(82, 80, 80);
    font-size: 12px;
    margin: 4px;
}
.d-block {
    text-decoration: none;
}
.d-block h4{
    color:black;
    font-weight: 300;
    padding: 10px ;
}
.d-block h4:hover {
    color: #71cd14;

}
.text-wrap{
    color:rgb(107, 105, 105);
    font-size: 12px;
    /* margin-top: 10px; */
    padding: 10px;

}
.blog_btn{
    text-decoration: none;
    font-size: 10px;
    color: rgb(57, 56, 56);
    padding: 10px;
    text-transform: uppercase;
}
.blog_btn:hover{
    color: #71cd14;
}








